<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row row-centered">
                <div class="col-md-3 col-sm-6 col-centered">
                    <a href="http://misc.si.umich.edu/" target="_blank">
                      <img src="img/logos/MISC-white.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <!--<div class="col-md-3 col-sm-6 col-centered">-->
                    <!--<a href="http://umich.edu" target="_blank">-->
                        <!--<img src="img/logos/u-m-university-of-michigan-logo.jpg" class="img-responsive img-centered" alt="">-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </div>
    </aside>
