  <footer>
        <div class="container">
            <div class="row row-centered">
                <div class="col-md-5 col-centered">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2014</span>
                </div>
                <div class="col-md-5 col-centered text-right">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">University of Michigan</a>
                        </li>
                        <li><a href="#">School of Information</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>