<footer>
    <div class="container">
        <div class="row row-centered">
            <div class="col-md-5 col-centered">
                <span class="copyright">&copy; {{ site.title }} {{ site.time | date: "%Y" }}</span>
            </div>
            <div class="col-md-4 col-centered text-right">
                <a href="http://umsi.umich.edu" target="_blank">
                      <img src="/img/logos/umsilogo.png" class="img-responsive img-centered" alt="">
                    </a>
            </div>
        </div>
    </div>
</footer>
