<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span >University of Michigan</span></div>
            <div><span class="intro-heading">Social Innovation Group</span></div>
            <a href="#services" class="page-scroll btn btn-xl">Learn More</a>
        </div>
    </div>
    <ul class="cb-slideshow">
        <li>
            <span>Image 01</span>
        </li>
        <li>
            <span>Image 02</span>
        </li>
        <li>
            <span>Image 03</span>
        </li>
    </ul>
</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

