<!-- Papers and Publications Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Papers and Publications</h2>
                <!--<h3 class="section-subheading text-muted">In collaboration with faculty and students</h3>-->
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-xs-12 col-sm-10 col-centered">
                <ul class="papers-container">
                    {% for paper in site.data.papers %}
                    <li class="paper custom-resp">
                        <div class="first">
                            {% if paper.pic %}<a href="/assets/papers/{{ paper.link }}.pdf" target="_blank"><img class="img-responsive" src="/assets/papers/{{ paper.pic }}.jpg" alt=""></a>{% else %}<div class="no-image text-center"></div>{% endif %}
                        </div>
                        <div class="second">
                            <div class="timeline-heading">
                                <h4>{% if paper.link %}<a class="post-link" href="/assets/papers/{{ paper.link }}.pdf" target="_blank">{{ paper.name }}</a>{% else %}{{ paper.name }}{% endif %}</h4>
                                <h5 class="subheading">{{ paper.authors }}</h5>
                            </div>
                            <div class="timeline-body">
                                <div class="paper-desc">{{ paper.abstract}}</div>
                                {% if paper.keywords %}<div class="paper-keywords">Keywords: {{ paper.keywords }}</div>{% endif %}
                                <div class="paper-links"><a class="post-link" href="/assets/papers/{{ paper.link }}.pdf" target="_blank">PDF</a></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
