{% assign namespace = page.datafile %}

<section id="project-main">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1 class="post-title">{{ page.title }}</h1>
                <hr class="star-primary">
                <p>{{ page.description }}</p>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Subprojects</h2>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-xs-8 col-centered">
                <ul class="papers-container">
                    {% for sub in site.data[namespace] %}
                    <li class="paper">
                        <div class="first">
                            <img class="img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="second">
                            <div class="timeline-heading">
                                <h4>{{ sub.name }}</h4>
                                <h4 class="subheading">{{ sub.authors }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ sub.abstract}}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</section>