{% assign namespace = page.datafile %}

<section id="project-main">

    <div class="container projects project-main">

        <div class="row row-centered">
            <div class="col-xs-12 col-sm-10 portfolio-item col-centered custom-resp">
                <img src="/assets/{{ page.datafile }}/thumbnail.jpg" class="img-responsive portfolio-link custom-imgresp" alt="">
                <div class="portfolio-caption">
                    <h4>{{ page.title }}</h4>
                    <p class="text-muted">{{ page.description }}</p>
					<br />

                    {% if site.data[namespace] %}
				 	<p class="text-muted">This project contains the following sub-projects:
					    <ul>
					    {% for main in site.data[namespace] %} 
					        <li><b>{{ main.subproject }}</b></li>
					    {% endfor %}
					    </ul>
					</p>
                    {% endif %}

                    {% if page.video %}
                    <a href="{{page.video}}" target="_blank" class="project-video">Click here for related video</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    {% if site.data[namespace] %}
    <div class="container project-subs multi">
        <div class="row row-centered heading">
            <div class="col-xs-12 col-sm-10 col-centered">
                <h4 class="section-heading">Subprojects</h4>
                <hr>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-xs-12 col-sm-10 col-centered">
                <ul class="papers-container">
                    {% for main in site.data[namespace] %}
                    <li class="papers-container outer">
                        <h4 class="sub-project-head">{{ main.subproject }}</h4>
                        <div class="sub-project-desc">{{ main.description }}</div>
                        <ul class="papers-container inner">
                        {% for sub in main.papers %}
                            <li class="paper custom-resp">
                                <div class="first">
                                    {% if sub.pic %}{% if sub.mainlink %}<a href="/assets/{{namespace}}/{{ sub.mainlink }}.pdf" target="_blank">{% endif %}<img class="img-responsive" src="/assets/{{namespace}}/{{ sub.pic }}.jpg" alt="">{% if sub,mainlink %}</a>{% endif %}{% else %}<div class="no-image text-center"></div>{% endif %}
                                </div>
                                <div class="second">
                                    <div class="timeline-heading">
                                        <h4>{% if sub.mainlink %}<a class="post-link" href="/assets/{{namespace}}/{{ sub.mainlink }}.pdf" target="_blank">{{ sub.name }}</a>{% else %}{{ sub.name }}{% endif %}</h4>
                                        <h5 class="subheading">{{ sub.authors }}</h5>
                                    </div>
                                    <div class="timeline-body">
                                        <div class="paper-desc">{{ sub.abstract}}</div>
                                        {% if sub.keywords %}<div class="paper-keywords">Keywords: {{ sub.keywords }}</div>{% endif %}
                                        {% if sub.resources %}
                                        <div class="paper-links">
                                            {% for item in sub.resources %}
                                            {% if item.type == 'pdf' %}
                                            <a class="post-link" href="/assets/{{namespace}}/{{ item.link }}.pdf" target="_blank">{{item.type}}</a>
                                            {% elsif item.type %}
                                            |  <a class="post-link" href="{{item.link}}" target="_blank">{{item.type}}</a>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

</section>

