<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vision</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-8 col-centered">
                    <h4 class="service-heading">The Social Innovation Group consists of an interdisciplinary group of individuals specializing in the research and development of ubiquitous and social computing technologies. Our vision is simple: To design, build and enhance innovative technologies to solve real-world problems.</h4>
                    <h4 class="service-heading">Our expertise lies in addressing real-world problems affecting marginalized groups and individuals primarily in the U.S. Our current projects aim to address unemployment, environmental sustainability, and technical literacy by fostering social and sociotechnical capital within these communities.</h4>
                    <h4 class="service-heading">Our team is diverse, consisting of computer scientists, designers, social scientists, and business majors. We welcome undergraduate and graduate researchers, Ph.D.’s, and current or soon-to-be professionals looking to do social good.</h4>
                </div>
            </div>
        </div>
    </section>