<!-- Team Section -->
<section id="team" class="bg-dark-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="section-heading team-type">Core</h4>
            </div>
            {% for member in site.data.members_current %}
            <div class="col-sm-4">
                <div class="team-member">
                    <div class="img-circle img-team" style="background-image: url('img/team/{{ member.pic }}.jpg');background-size:cover; background-repeat:no-repeat;"></div>
                    <h4>{{ member.name }}</h4>
                    <p>{{ member.position }}</p>
                    {% if member.social %}
                    <ul class="list-inline social-buttons">
                    {% for network in member.social %}
                    <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="section-heading team-type">Affiliates</h4>
            </div>
            {% for member in site.data.members_affiliates %}
            <div class="col-sm-4">
                <div class="team-member">
                    <div class="img-circle img-team" style="background-image: url('img/team/{{ member.pic }}.jpg');background-size:cover; background-repeat:no-repeat;"></div>
                    <h4>{{ member.name }}</h4>
                    <p>{{ member.position }}</p>
                    {% if member.social %}
                    <ul class="list-inline social-buttons">
                    {% for network in member.social %}
                    <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="section-heading team-type">Alum</h4>
            </div>
            {% for member in site.data.members_alum %}
            <div class="col-sm-4">
                <div class="team-member">
                    <div class="img-circle img-team" style="background-image: url('img/team/{{ member.pic }}.jpg')"></div>
                    <h4>{{ member.name }}</h4>
                    <p>{{ member.position }}</p>
                    {% if member.social %}
                    <ul class="list-inline social-buttons">
                    {% for network in member.social %}
                    <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
