<!-- Services Section -->
<section id="vision">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Vision</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-centered">
                <h4 class="service-heading">The Social Innovation Group is a dynamic and diverse collective of interdisciplinary experts specializing in the research and development of ubiquitous and social computing technologies. Our vision is simple: To design, build and enhance innovative technologies that effecitvely tackle real-world challenges.</h4>
                <h4 class="service-heading">Our expertise lies in addressing real-world problems affecting minoritized groups and people experiencing various forms of marginalization with a particular emphasis on the United States. Through our ongoing projects we aim to combat unemployment, promote environmental sustainability, and enhance technical literacy by fostering social and sociotechnical capital within these communities.</h4>
                <h4 class="service-heading">Comprised of a wide range of talented professionals, our team brings together computer scientists, designers, social scientists, and business majors. We extend a warm invitation to undergraduate and graduate researchers, Ph.D. candidates, as well as current and aspiring professionals who share our passion for making a positive societal impact.</h4>
                <h4 class="service-heading">Join us in our quest to leverage innovation and expertise for the betterment of society. Together, we can drive meaningful change and create a brighter future.</h4>
            </div>
        </div>
    </div>
</section>
